
process {

    withLabel:process_1 {
        cpus   = { 1     * task.attempt }
        memory = { 2.GB  * task.attempt }
        time   = { 1.h   * task.attempt }
    }
    withLabel:process_2 {
        cpus   = { 1     * task.attempt }
        memory = { 3.GB * task.attempt }
        time   = { 2.h   * task.attempt }
    }
    withLabel:process_4 {
        cpus   = { 1    * task.attempt }
        memory = { 3.GB * task.attempt }
        time   = { 3.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 3.h  * task.attempt }
    }
    withLabel:process_5 {
        memory = { 7.GB * task.attempt }
    }
    withLabel:process_6 {
        memory = { 24.GB * task.attempt }
    }
    withLabel:process_9 {
        memory = { 32.GB * task.attempt }
    }
}
