
process {

    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 8.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 5    * task.attempt/2.0 }
        memory = { 18.GB * task.attempt/2.0 }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 8    * task.attempt }
        memory = { 30.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }
    withLabel:process_medium_memory {
        memory = { 30.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 60.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
}
