
process {

    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 2.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 1     * task.attempt }
        memory = { 2.GB  * task.attempt }
        time   = { 1.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 1     * task.attempt }
        memory = { 2.GB  * task.attempt }
        time   = { 2.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 2    * task.attempt }
        memory = { 7.GB * task.attempt }
        time   = { 3.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 3.h  * task.attempt }
    }
    withLabel:process_medium_memory {
        cpus   = { 6     * task.attempt }
        memory = { 24.GB * task.attempt }
        time   = { 2.h   * task.attempt }
    }
    withLabel:process_high_memory {
        cpus   = { 9     * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 3.h  * task.attempt }
    }
    withLabel:low_res_high_mem {
        cpus   = { 3     * task.attempt }
        memory = { 11.GB * task.attempt }
    }
}
