
process {

    withLabel:process_1 {
        cpus   = { 1     * task.attempt }
        memory = { 3700.MB  * task.attempt }
        time   = { 1.h   * task.attempt }
    }
    withLabel:process_2 {
        cpus   = { 2     * task.attempt }
        memory = { 7500.MB  * task.attempt }
        time   = { 2.h   * task.attempt }
    }
    withLabel:process_3 {
        cpus   = { 3     * task.attempt }
        memory = { 11300.MB  * task.attempt }
        time   = { 2.h   * task.attempt }
    }
    withLabel:process_4 {
        cpus   = { 4     * task.attempt }
        memory = { 15100.MB * task.attempt }
        time   = { 3.h   * task.attempt }
    }
    withLabel:process_long {
        time   = { 3.h   * task.attempt }
    }
    withLabel:process_5 {
        cpus   = { 5 }
        memory = { 18900.MB }
    }
    withLabel:process_6 {
        cpus   = { 6 }
        memory = { 22700.MB }
    }
    withLabel:process_9 {
        cpus   = { 9 }
        memory = { 34100.MB }
    }
}
