/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: params.publish_intermediate,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PLINK19_MAKESET' {
        ext.args = {
            params.plink19_makeset_options ? "${params.plink19_makeset_options}" : ''
        }
        publishDir = [
            path: { "${params.outdir}/plink19_makeset" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PLINK2_MAKEBED' {
        publishDir = [
            path: { "${params.outdir}/plink2_makebed" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PLINK2_MAKEPGEN' {
        publishDir = [
            path: { "${params.outdir}/plink2_makepgen" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PLINK2_WRITE_SNPLIST' {
        publishDir = [
            path: { "${params.outdir}/plink2_write_snplist" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PLINK2_KING_CUTOFF' {
        publishDir = [
            path: { "${params.outdir}/plink2_king_cutoff" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PLINK2_PCA' {
        publishDir = [
            path: { "${params.outdir}/plink2_pca" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PLINK2_PROJECTION_SCORE' {
        publishDir = [
            path: { "${params.outdir}/plink2_projection_score" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PLINK2_IMPORT_DOSAGE' {
        publishDir = [
            path: { "${params.outdir}/plink2_import_dosage" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PLINK2_EXPORT_OTHER' {
        publishDir = [
            path: { "${params.outdir}/plink2_export_other" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PLINK2_INDEP_PAIRWISE' {
        publishDir = [
            path: { "${params.outdir}/plink2_indep_pairwise" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RSCRIPT_BUILD_PHENOTYPES' {
        publishDir = [
            path: { "${params.outdir}/rscript_build_phenotypes" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RSCRIPT_BUILDREPORTS' {
        publishDir = [
            path: { "${params.outdir}/rscript_buildreports" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RSCRIPT_MANHATTAN_QQ_PLOTS' {
        publishDir = [
            path: { "${params.outdir}/rscript_manhattan_qq_plots" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'REGENIE_STEP1' {
        publishDir = [
            path: { "${params.outdir}/regenie_step1" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'REGENIE_STEP2' {
        publishDir = [
            path: { "${params.outdir}/regenie_step2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RENAME' {
        publishDir = [
            path: { "${params.outdir}/rename" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MERGE_RESULTS' {
        publishDir = [
            path: { "${params.outdir}/merge_results" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CHECK_X_CHROM_PRESENT' {
        publishDir = [
            path: { "${params.outdir}/check_x_chrom_present" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BCFTOOLS_VIEW' {
        publishDir = [
            path: { "${params.outdir}/bcftools_view" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BCFTOOLS_VIEW_AND_FILTER2' {
        publishDir = [
            path: { "${params.outdir}/bcftools_view_and_filter2" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = '--output-type z --write-index=tbi'
    }

    withName: 'BCFTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/bcftools_index" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = '-t'
    }

    withName: 'BCFTOOLS_VCF2FRQ' {
        publishDir = [
            path: { "${params.outdir}/bcftools_vcf2frq" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BCFTOOLS_REPLACE_SAMPLE_NAMES' {
        publishDir = [
            path: { "${params.outdir}/bcftools_replace_sample_names" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BCFTOOLS_ASSIGN_ANNOTATIONS' {
        publishDir = [
            path: { "${params.outdir}/bcftools_assign_annotations" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CALCULATE_F_OUTLIERS' {
        publishDir = [
            path: { "${params.outdir}/calculate_f_outliers" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DRAW_PC_PLOT' {
        publishDir = [
            path: { "${params.outdir}/draw_pc_plot" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PYTHON_VCFTOAAF' {
        publishDir = [
            path: { "${params.outdir}/python_vcftoaaf" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GENERATE_TRACKING_REPORT' {
        publishDir = [
            path: { "${params.outdir}/generate_tracking_report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'EXPLORATORY_DATA_ANALYSIS' {
        publishDir = [
            path: { "${params.outdir}/exploratory_data_analysis" },
            mode: params.publish_dir_mode,
            enabled: params.publish_intermediate,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
