/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run psuszyns/rare-var-assoc-nf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    //bcftools_qual_filter             = ""
    //bcftools_info_filter             = "INFO/AC>=1"
    //bcftools_fmt_filter              = ""
    //bcftools_info_filter_ensure_field_present = "AC"
    //bcftools_fmt_filter_ensure_field_present  = ""

    //bcftools_filter_1_options        = "--exclude 'INFO/AC<2 || AVG(INFO/AC)<5' --output-type z --write-index=tbi"
    //bcftools_filter_2_options        = "--output-type z --write-index=tbi"

    inbreeding_outliers_range_stds   = 6

    plink2_makebed_options_3        = '--geno 0.1 --hwe 1e-13 0.001 --mac 20 --maf 0.01'
    plink2_write_snplist_qc_options = '--mind 0.1'

    rscript_annotate_options        = '--min_top_annotations 30 --max_annotations 62 --quantile_threshold 0.25 --include-intergenic FALSE'
    rscript_vcf2aaf_options         = 'AF_EUR AF'  // 'GNOMADAF swegenAF'

    regenie_step1_options           = '--minCaseCount 1 --minMAC 1 --bt --bsize 100 --lowmem'

    regenie_step2_options           = '--minCaseCount 1 --minMAC 1 --bt --ref-first --firth --approx --bsize 200 --lowmem --aaf-bins 0.01,0.05,0.1,1 --write-mask --write-mask-snplist --vc-tests skato'

    use_dosage                       = true
    
    // Input data
    input_vcf  = "${projectDir}/assets/medium_data/20201028_CCDG_14151_B01_GRM_WGS_2020-08-05_chr22.recalibrated_variants_rand_15k.vcf.gz"
    //input_vcf = "/data/git/doktorat_pw/wum_pims/playground/comp_ds_htslib/test/20201028_3202_raw_30x_GRCh38_CCDG_14151_B01_GRM_WGS_chr22_exome_filtered_2.vcf.gz"
    input_controls = "${projectDir}/assets/medium_data/1kGP_controls_400.txt"
    input_cases = "${projectDir}/assets/medium_data/1kGP_cases_200.txt"
    project_name = "test"
    outdir = "results"

    //input_vcf  = "${projectDir}/../nf-prepare-vcf/results/vep_annotate/test_sim_chr22_vep.vcf.gz"
    //skip_preparation                 = true
}
