/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run psuszyns/rare-var-assoc-nf -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    plink2_write_snplist_options    = '--mac 100'
    plink2_write_snplist_qc_options = '--maf 0.01 --mac 100 --geno 0.1 --hwe 1e-15 --mind 0.1 --write-samples'

    rscript_vcf2aaf_options         = 'AF_EUR AF'

    // Input data for full size test
    // TODO nf-core: Specify the paths to your full test data ( on nf-core/test-datasets or directly in repositories, e.g. SRA)
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input_vcf  = "${projectDir}/assets/medium_data/1000g_lpa_hg38_vep.vcf"
    input_controls = "${projectDir}/assets/medium_data/controls.txt"
    input_cases = "${projectDir}/assets/medium_data/cases.txt"

}
