/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run psuszyns/rare-var-assoc-nf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    bcftools_qual_filter             = ""
    bcftools_info_filter             = "INFO/AC>=1"
    bcftools_fmt_filter              = ""
    bcftools_info_filter_ensure_field_present = "AC"
    bcftools_fmt_filter_ensure_field_present  = ""

    inbreeding_outliers_range_stds   = 6

    plink2_makebed_options_3        = '--set-all-var-ids @_#_\\\$r_\\\$a --new-id-max-allele-len 120 truncate --rm-dup force-first list --geno 0.2 --mac 1 --maf 0.01 --hwe 1e-13 0.001'
    plink2_write_snplist_qc_options = '--mind 0.1 --write-samples'

    rscript_annotate_options        = '--min_top_annotations 50 --quantile_threshold 0.25 --include-intergenic FALSE'
    rscript_vcf2aaf_options         = 'AF_EUR AF'  // 'GNOMADAF swegenAF'

    regenie_step1_options           = '--minCaseCount 1 --minMAC 1 --bt --bsize 100 --lowmem'

    regenie_step2_options           = '--minCaseCount 1 --minMAC 1 --bt --ref-first --firth --approx --bsize 200 --lowmem --aaf-bins 0.01,0.05,0.1,1 --write-mask --write-mask-snplist --vc-tests skato'


    // Input data
    input_vcf  = "${projectDir}/assets/medium_data/1kGP.chr22.panel_head100k_exome.vcf"
    input_controls = "${projectDir}/assets/medium_data/1kGP_controls.txt"
    input_cases = "${projectDir}/assets/medium_data/1kGP_cases.txt"
    project_name = "test"
    outdir = "results"

}
